body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.slider {
  aspect-ratio: 1.7;
  width: 900px;
  position: relative;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider img {
  width: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}
